<div class="container">
  <div>

    <form (ngSubmit)="check(username.value,password.value)" [formGroup]="loginForm" class="text-center">
      <div style="margin: 100px auto">
        <h3>LOGIN</h3>
        <hr>
        <div>
          <label>Username: &nbsp;&nbsp;&nbsp;</label>
          <input formControlName="uname" type="text" #username
                 [ngClass]="{ 'is-invalid': (submitted && f.uname.invalid) || (f.uname.touched && f.uname.invalid) }">
          <div *ngIf="(submitted && f.uname.errors) || (f.uname.touched && f.uname.invalid)" class="alert-danger">
            <small *ngIf="f.uname.errors?.['required']">Username is required</small>
            <small *ngIf="f.uname.errors?.['minlength']">3 characters required only.</small>
            <small *ngIf="f.uname.errors?.['pattern']">Enter without space and any special characters</small>
          </div>
        </div>
        <br>
        <div>
          <label>Password: &nbsp;&nbsp;&nbsp;</label>
          <input formControlName="password" #password type="password"
                 [ngClass]="{ 'is-invalid': (submitted && f.password.invalid) || (f.password.touched && f.password.invalid) }">
          <div *ngIf="(submitted && f.password.errors) || (f.password.touched && f.password.invalid)"
               class="alert-danger">
            <small *ngIf="f.password.errors?.['required']">Password is required</small>
            <small *ngIf="f.password.errors?.['minlength']">At least 3 characters required</small>
            <small *ngIf="f.password.errors?.['pattern']">should not contain space,special character</small>
          </div>
        </div>
        <br>
        <button class="button-css">Login</button>
        <button class="btn-secondary" style="padding: 5px 10px; margin-left:10px " (click)="goBack()">Cancel</button>

      </div>
    </form>
  </div>

</div>
